In [94]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv('dataframe.csv', names=["id", 'number', "price", "metro", 'min', 'list1', 'list2'])

In [96]:
df.list2.iloc[0]

"['О квартире', 'Тип жилья', 'Новостройка', 'Общая площадь', '32,2', 'Высота потолков', '3 м', 'Отделка', 'Без отделки', 'О доме', 'Подписаться на дом', 'Количество лифтов', '1 пассажирский', 'Тип дома', 'Монолитный', 'Парковка', 'Подземная']"

In [97]:
df.head()

,id,number,price,metro,min,list1,list2
0,283969757,1,16 042 265 ₽,Савёловская,13 мин.,"['Общая площадь', '32,2 м²', 'Этаж', '4 из 22'...","['О квартире', 'Тип жилья', 'Новостройка', 'Об..."
1,284037342,1,16 297 308 ₽,Технопарк,17 мин.,"['Общая площадь', '43,5 м²', 'Этаж', '2 из 17'...","['О квартире', 'Тип жилья', 'Новостройка', 'Об..."
2,266826884,1,17 086 799 ₽,Дмитровская,8 мин.,"['Общая площадь', '32,1 м²', 'Жилая площадь', ...","['О квартире', 'Тип жилья', 'Новостройка', 'Об..."
3,284807290,1,18 669 730 ₽,Преображенская площадь,5 мин.,"['Общая площадь', '46,59 м²', 'Этаж', '2 из 17...","['О квартире', 'Тип жилья', 'Новостройка', 'Об..."
4,264958724,1,19 015 154 ₽,Марьина роща,8 мин.,"['Общая площадь', '43,45 м²', 'Этаж', '38 из 5...","['О квартире', 'Тип жилья', 'Новостройка', 'Об..."

Как мы видим, характеристики были выгружены блоками и заключены все в двух столбцах, дальнейшими действиями мы будем вычленять каждое из наблюдений и выносить в отдельные столбцы. Используем для этого словари, в которых ключами будет сами наблюдения

In [98]:
def func1(x):
    res = x.strip('][').split(', ')
    #zip - сжимаем данные
    d = dict(zip(res[::2], res[1::2]))
    return d

In [99]:
def func2(x):
    res = x.strip('][').split(', ')
    res.pop(0)
    d = dict(zip(res[::2], res[1::2]))
    return d

In [100]:
df['list1'] = df['list1'].apply(lambda x: func1(x))

In [101]:
df['list2'] = df['list2'].apply(lambda x: func2(x))

In [102]:
df.head()

,id,number,price,metro,min,list1,list2
0,283969757,1,16 042 265 ₽,Савёловская,13 мин.,"{''Общая площадь'': ''32,2 м²'', ''Этаж'': ''4...","{''Тип жилья'': ''Новостройка'', ''Общая площа..."
1,284037342,1,16 297 308 ₽,Технопарк,17 мин.,"{''Общая площадь'': ''43,5 м²'', ''Этаж'': ''2...","{''Тип жилья'': ''Новостройка'', ''Общая площа..."
2,266826884,1,17 086 799 ₽,Дмитровская,8 мин.,"{''Общая площадь'': ''32,1 м²'', ''Жилая площа...","{''Тип жилья'': ''Новостройка'', ''Общая площа..."
3,284807290,1,18 669 730 ₽,Преображенская площадь,5 мин.,"{''Общая площадь'': ''46,59 м²'', ''Этаж'': ''...","{''Тип жилья'': ''Новостройка'', ''Общая площа..."
4,264958724,1,19 015 154 ₽,Марьина роща,8 мин.,"{''Общая площадь'': ''43,45 м²'', ''Этаж'': ''...","{''Тип жилья'': ''Новостройка'', ''Общая площа..."

In [103]:
df['list1'].apply(pd.Series)

,'Общая площадь','Этаж','Год сдачи','Дом','Отделка','Жилая площадь','Площадь кухни','Год постройки'
0,"'32,2 м²'",'4 из 22','2025','Не сдан','Без отделки',NaN,NaN,NaN
1,"'43,5 м²'",'2 из 17','2024','Не сдан','Без отделки',NaN,NaN,NaN
2,"'32,1 м²'",'11 из 36','2025','Не сдан','Чистовая',"'11,2 м²'","'13,4 м²'",NaN
3,"'46,59 м²'",'2 из 17','2024','Не сдан','Без отделки',NaN,NaN,NaN
4,"'43,45 м²'",'38 из 55','2024','Не сдан','Предчистовая',NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1504,'42 м²','6 из 24',NaN,NaN,NaN,'18 м²',"'10,7 м²'",'2017'
1505,"'52,5 м²'",'7 из 15','2022',NaN,'Чистовая',"'25,4 м²'","'11,7 м²'",NaN
1506,"'32,17 м²'",'4 из 18','2024','Не сдан','Без отделки',"'10,8 м²'","'9,7 м²'",NaN
1507,"'40,5 м²'",'8 из 14','2022','Сдан','Чистовая',"'18,9 м²'",NaN,NaN
1508,"'40,6 м²'",'15 из 15','2022','Сдан','Неизвестно','19 м²',NaN,NaN

In [104]:
df.list2.iloc[144]

{"'Тип жилья'": "'Новостройка'",
 "'Общая площадь'": "'83,8'",
 "'Жилая площадь'": "'46,5'",
 "'Площадь кухни'": "'16,9'",
 "'Высота потолков'": "'3,2 м'",
 "'Санузел'": "'1 совмещенный",
 "1 раздельный'": "'Вид из окон'",
 "'На улицу'": "'Отделка'",
 "'Без отделки'": "'О доме'",
 "'Подписаться на дом'": "'Количество лифтов'",
 "'1 пассажирский": "1 грузовой'",
 "'Тип дома'": "'Монолитный'",
 "'Парковка'": "'Подземная'"}

In [105]:
df['list2'].apply(pd.Series)

,'Тип жилья','Общая площадь','Высота потолков','Отделка','О доме','Количество лифтов','Тип дома','Парковка','Жилая площадь','Площадь кухни',...,'Наземная','7','Центральное','Нет','Тип перекрытий','Подъезды','Отопление','Аварийность','Ремонт','4'
0,'Новостройка',"'32,2'",'3 м','Без отделки','Подписаться на дом','1 пассажирский','Монолитный','Подземная',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'Новостройка',"'43,5'","'3,1 м'",'Без отделки','Подписаться на дом',NaN,'Монолитно-кирпичный','Подземная',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'Новостройка',"'32,1'",'3 м','Чистовая','Подписаться на дом','3 пассажирских,NaN,NaN,"'11,2'","'13,4'",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,'Новостройка',"'46,59'",NaN,'Без отделки','Подписаться на дом',NaN,'Монолитно-кирпичный',NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'Новостройка',"'43,45'",'3 м','Предчистовая','Подписаться на дом','4 пассажирских,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,'Вторичка','42',NaN,NaN,'Подписаться на дом','1 пассажирский,NaN,NaN,'18',"'10,7'",...,'Подъезды',NaN,'Аварийность','Ремонт',NaN,NaN,NaN,NaN,NaN,'Отопление'
1505,'Новостройка',"'52,5'","'2,7 м'",NaN,'Подписаться на дом','1 пассажирский,NaN,NaN,"'25,4'","'11,7'",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,'Новостройка',"'32,17'","'2,8 м'",'Без отделки','Подписаться на дом','1 пассажирский,NaN,NaN,"'10,8'","'9,7'",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,'Новостройка',"'40,5'","'2,8 м'",'Чистовая','Подписаться на дом',NaN,'Панельный','Подземная',"'18,9'",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,'Новостройка',"'40,6'","'2,8 м'",'Неизвестно','Подписаться на дом',NaN,'Панельный','Подземная','19',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Удалим из даты наш целиковый столбец с наблюдениями и добавим к нему уже разделенный list1/list2

In [106]:
df = pd.concat([df.drop(['list1'], axis=1), df['list1'].apply(pd.Series)], axis=1)

In [107]:
df = pd.concat([df.drop(['list2'], axis=1), df['list2'].apply(pd.Series)], axis=1)

In [108]:
df

,id,number,price,metro,min,'Общая площадь','Этаж','Год сдачи','Дом','Отделка',...,'Наземная','7','Центральное','Нет','Тип перекрытий','Подъезды','Отопление','Аварийность','Ремонт','4'
0,283969757,1,16 042 265 ₽,Савёловская,13 мин.,"'32,2 м²'",'4 из 22','2025','Не сдан','Без отделки',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,284037342,1,16 297 308 ₽,Технопарк,17 мин.,"'43,5 м²'",'2 из 17','2024','Не сдан','Без отделки',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,266826884,1,17 086 799 ₽,Дмитровская,8 мин.,"'32,1 м²'",'11 из 36','2025','Не сдан','Чистовая',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,284807290,1,18 669 730 ₽,Преображенская площадь,5 мин.,"'46,59 м²'",'2 из 17','2024','Не сдан','Без отделки',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,264958724,1,19 015 154 ₽,Марьина роща,8 мин.,"'43,45 м²'",'38 из 55','2024','Не сдан','Предчистовая',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,277722250,1,9 800 000 ₽,Рассказовка,6 мин.,'42 м²','6 из 24',NaN,NaN,NaN,...,'Подъезды',NaN,'Аварийность','Ремонт',NaN,NaN,NaN,NaN,NaN,'Отопление'
1505,284593318,2,11 000 000 ₽,Ольховая,20 мин.,"'52,5 м²'",'7 из 15','2022',NaN,'Чистовая',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,283555890,1,7 591 477 ₽,Саларьево,19 мин.,"'32,17 м²'",'4 из 18','2024','Не сдан','Без отделки',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,284961268,1,9 220 000 ₽,Ольховая,9 мин.,"'40,5 м²'",'8 из 14','2022','Сдан','Чистовая',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,282123955,1,9 299 950 ₽,Ольховая,9 мин.,"'40,6 м²'",'15 из 15','2022','Сдан','Неизвестно',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df = df.dropna(axis = 1, thresh=754)

На данном этапе мы оставляем только те столбцы, в которых минимум половина объявлений не имеет пропусков по тем или иным наблюдениям. Процент, который мы установили очень легко объяснить: при выгрузке характеристик(блока характеристик), который по-видимому не являлся обязательным для потенциальных продавцов, и соответственно около 20%-30% квартир не имели там пропусков, тем самым, около 10 наблюдений не имело смысла рассматривать далее.

In [110]:
df.drop(labels = [1502, 1503, 1504],axis = 0, inplace = True)

/Users/natala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

При анализе полученного датафрейма было замечено только три объявления, которые идентифицируемы как вторичные, поэтому от них тоже избавляемся

In [111]:
df.replace("'", "", inplace = True, regex = True)

/Users/natala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

Как уже описывалось раннее, для того, чтобы получить большее количество наблюдений нам пришлось выгружать блоки характеристик, которые были заключены в ковычки, также избавляемся

In [112]:
df.rename(columns = {"'Общая площадь'":"total area(м²)", "'Этаж'":"floor","'Год сдачи'":"year of completion", "'Отделка'":"finishing","'Жилая площадь'":"living area(м²)", "'Площадь кухни'":"kitchen area(м²)","'Высота потолков'":"ceiling height(м)","'Количество лифтов'":"number of elevators","'Тип дома'":"type of house","'Санузел'":"WC","'Дом'":"house", "min":"time(min)","price":"price(rub)", "number":"number of rooms"}, inplace = True )

/Users/natala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [113]:
df.drop(columns = ["'Тип жилья'","'О доме'"],axis = 1, inplace=True)

Очистим данные от единиц измерения, так как они уже заключены в названиях

In [114]:
df["time(min)"] = df["time(min)"].replace(" мин.", "", regex=True)
df["price(rub)"] = df["price(rub)"].replace(" ₽", "", regex=True)
df["total area(м²)"] = df["total area(м²)"].replace(" м²", "", regex=True)
df["living area(м²)"] = df["living area(м²)"].replace(" м²", "", regex=True)
df["kitchen area(м²)"] = df["kitchen area(м²)"].replace(" м²", "", regex=True)
df["ceiling height(м)"] = df["ceiling height(м)"].replace(" м", "", regex=True)

/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time(min)"] = df["time(min)"].replace(" мин.", "", regex=True)
/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price(rub)"] = df["price(rub)"].replace(" ₽", "", regex=True)
/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["total area(м²)"] = df["total area(м²)"].replace(" м²", "", regex=True)
/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["living area(м²)"] = df["living area(м²)"].replace(" м²", "", regex=True)
/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["kitchen area(м²)"] = df["kitchen area(м²)"].replace(" м²", "", regex=True)
/var/folders/cn/k3d8tq491tz6401wpmhb7rx40000gn/T/ipykernel_2005/3639276855.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ceiling height(м)"] = df["ceiling height(м)"].replace(" м", "", regex=True)

В ходе работы мы заметили, что некоторые наблюдения повторяются, также избавляемся от дубликатов

In [115]:
df = df.T.drop_duplicates().T #https://www.codecamp.ru/blog/pandas-drop-duplicate-columns/

In [116]:
df.drop(columns = ['house'],axis = 1, inplace=True)

В дате содержится колонка с фактическим этажом и общим количеством этажей, однако для дальнейшей работы с наблюдениями стоит разнести их на два отдельных столбца

In [117]:
new_df = df['floor'].str.split(' из ',expand=True)
new_df.columns=['apartment floor','total floors']
df = pd.concat([df,new_df],axis=1)
df.drop(columns = ['floor'],axis = 1, inplace=True)
df["WC"] = df["WC"].str.split(' ',expand=True)[0]

В таблице есть дубликат наблюдения "Отделка", но при выгрузке данных колонки получили одинаковое название, хотя их содержание имеет отличия(в одной из колонок довольно большое количество пропусков), поэтому создадим новый столбец "readiness", в котором будет информация об отделке (перенесем из наиболее целостной колонки).

In [118]:
df['readiness']=df.iloc[:,7]

In [119]:
df.drop(columns = ['finishing'],axis = 1, inplace=True)

Информацию о лифтах в доме также разносим на разные колонки

In [120]:
new_df1 = df['number of elevators'].str.split(' ',expand=True)
new_df1.columns=['num of elevators','type of elevators']
df = pd.concat([df,new_df1],axis=1)
df.drop(columns = ['number of elevators'],axis = 1, inplace=True)

In [121]:
df = df.replace ( r'^\s\*$' , np.nan , regex= True ) #идентифицируем Nan значения
df = df.replace ( 'Неизвестно' , np.nan , regex= True )

In [122]:
df

,id,number of rooms,price(rub),metro,time(min),total area(м²),year of completion,living area(м²),kitchen area(м²),ceiling height(м),type of house,WC,apartment floor,total floors,readiness,num of elevators,type of elevators
0,283969757,1,16 042 265,Савёловская,13,"32,2",2025,NaN,NaN,3,Монолитный,NaN,4,22,Без отделки,1,пассажирский
1,284037342,1,16 297 308,Технопарк,17,"43,5",2024,NaN,NaN,"3,1",Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
2,266826884,1,17 086 799,Дмитровская,8,"32,1",2025,"11,2","13,4",3,NaN,1,11,36,Чистовая,3,пассажирских
3,284807290,1,18 669 730,Преображенская площадь,5,"46,59",2024,NaN,NaN,NaN,Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
4,264958724,1,19 015 154,Марьина роща,8,"43,45",2024,NaN,NaN,3,NaN,NaN,38,55,Предчистовая,4,пассажирских
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,284759598,2,10 000 000,Солнцево,10,"54,2",2023,"28,2","16,2",NaN,NaN,1,7,24,Без отделки,1,пассажирский
1505,284593318,2,11 000 000,Ольховая,20,"52,5",2022,"25,4","11,7","2,7",NaN,NaN,7,15,Чистовая,1,пассажирский
1506,283555890,1,7 591 477,Саларьево,19,"32,17",2024,"10,8","9,7","2,8",NaN,1,4,18,Без отделки,1,пассажирский
1507,284961268,1,9 220 000,Ольховая,9,"40,5",2022,"18,9",NaN,"2,8",Панельный,NaN,8,14,Чистовая,NaN,NaN
1508,282123955,1,9 299 950,Ольховая,9,"40,6",2022,19,NaN,"2,8",Панельный,NaN,15,15,NaN,NaN,NaN

In [123]:
df.to_csv('df_result.csv', columns=['id', 'number of rooms', 'price(rub)', 'metro', 'time(min)', 'total area(м²)', 'living area(м²)', 'kitchen area(м²)', 'ceiling height(м)', 'WC', 'readiness', 'apartment floor', 'total floors', 'num of elevators', 'type of elevators', 'type of house', 'year of completion'], index=False)

Стоит отметить, что некоторые данные это случайные пропуски, так как некоторые продавцы не посчитали нужным это указывать либо же бонально поленились, никакой скрытой связи, на наше усмотрение здесь нет. Просто игнорировать или удалять строки, в которых отсутствуют данные, выбрасывая их из нашего анализа не является разумным, так как во-первых, мы просто потеряем всю информацию, а во-вторых, для полноты картины стоит поработать над каждым из них.

In [124]:
df

,id,number of rooms,price(rub),metro,time(min),total area(м²),year of completion,living area(м²),kitchen area(м²),ceiling height(м),type of house,WC,apartment floor,total floors,readiness,num of elevators,type of elevators
0,283969757,1,16 042 265,Савёловская,13,"32,2",2025,NaN,NaN,3,Монолитный,NaN,4,22,Без отделки,1,пассажирский
1,284037342,1,16 297 308,Технопарк,17,"43,5",2024,NaN,NaN,"3,1",Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
2,266826884,1,17 086 799,Дмитровская,8,"32,1",2025,"11,2","13,4",3,NaN,1,11,36,Чистовая,3,пассажирских
3,284807290,1,18 669 730,Преображенская площадь,5,"46,59",2024,NaN,NaN,NaN,Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
4,264958724,1,19 015 154,Марьина роща,8,"43,45",2024,NaN,NaN,3,NaN,NaN,38,55,Предчистовая,4,пассажирских
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,284759598,2,10 000 000,Солнцево,10,"54,2",2023,"28,2","16,2",NaN,NaN,1,7,24,Без отделки,1,пассажирский
1505,284593318,2,11 000 000,Ольховая,20,"52,5",2022,"25,4","11,7","2,7",NaN,NaN,7,15,Чистовая,1,пассажирский
1506,283555890,1,7 591 477,Саларьево,19,"32,17",2024,"10,8","9,7","2,8",NaN,1,4,18,Без отделки,1,пассажирский
1507,284961268,1,9 220 000,Ольховая,9,"40,5",2022,"18,9",NaN,"2,8",Панельный,NaN,8,14,Чистовая,NaN,NaN
1508,282123955,1,9 299 950,Ольховая,9,"40,6",2022,19,NaN,"2,8",Панельный,NaN,15,15,NaN,NaN,NaN

**Обработка DataFrame**

In [126]:
df.shape

(1506, 17)

In [127]:
df.isnull().sum()

id                      0
number of rooms         0
price(rub)              0
metro                   0
time(min)               0
total area(м²)          0
year of completion     15
living area(м²)       448
kitchen area(м²)      469
ceiling height(м)     247
type of house         592
WC                    649
apartment floor         0
total floors            0
readiness             131
num of elevators      679
type of elevators     679
dtype: int64

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1506 entries, 0 to 1508
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1506 non-null   object
 1   number of rooms     1506 non-null   object
 2   price(rub)          1506 non-null   object
 3   metro               1506 non-null   object
 4   time(min)           1506 non-null   object
 5   total area(м²)      1506 non-null   object
 6   year of completion  1491 non-null   object
 7   living area(м²)     1058 non-null   object
 8   kitchen area(м²)    1037 non-null   object
 9   ceiling height(м)   1259 non-null   object
 10  type of house       914 non-null    object
 11  WC                  857 non-null    object
 12  apartment floor     1506 non-null   object
 13  total floors        1506 non-null   object
 14  readiness           1375 non-null   object
 15  num of elevators    827 non-null    object
 16  type of elevators   827 non-null    object
dtypes: object(17)
memory usage: 244.1+ KB

Для начала давайте обработаем наблюдения, которые ***`не содержат пропусков`***, однако имеют те или иные параметры, которые препятствуют дальнейшему анализу. Параллельно начинаем ***`изменять тип наблюдений`***. В наблюдении "цена" удаляем пробелы, которые раннее препятствовали изменению типа. Были удалены объявления, которые содержат "none" по наблюдениям: метро и минимальное время до метро, так как не получится корректно заполнить пропуски таким образом, чтобы значения наблюдений не противоречили друг другу. В ходе прогона кода, была замечена квартира, где не было информации о метро(откроется в 2023) от нее тоже избавляемся. Также, у некоторых объявлений, возникла ошибка в количестве комнат, в результате чего были замечены неизвестные параметры "M". На наш взгляд, наиболее разумно будет изменять значения в соответствии с метражом квартиры, для чего использовался цикл.

****id****

In [129]:
df['id'] = df['id'].astype(int)

****Количество комнат****

In [130]:
df.loc[df['number of rooms'] == 'М', 'number of rooms'] = 4
df['number of rooms'] = df['number of rooms'].astype(int)

****Цена****

In [131]:
df['price(rub)'] = df['price(rub)'].str.replace(' ', '', regex = True)
df['price(rub)'] = df['price(rub)'].astype(int)

****Метро****

In [132]:
df = df.drop(index=df[df['metro'] == 'none'].index)

****Минимальное время до метро****

In [133]:
df = df.drop(index=df[df['time(min)'] == 'none'].index)
df = df.drop(index=df[df['time(min)'] == 'откроется в 2023'].index)
df['time(min)'] = df['time(min)'].astype(int)

****Фактический этаж****

In [134]:
df['apartment floor'] = df['apartment floor'].astype(int)

****Всего этажей****

In [135]:
df['total floors'] = df['total floors'].astype(int)

*Восстанавливаем индексацию*

In [136]:
df.reset_index(drop=True, inplace=True)

Теперь обработаем наблюдения, которые содержат в себе информацию о метраже. Наиболее логично, по нашему мнению, ***`заполнять их средним`***, так как другие способы обработки NaN значений мы считаем не логичным в данном случае. В начале работы мы столкнулись с ошибкой изменения типа, так как наша таблица в качестве разделительного знака содержит запятые, а для того, чтобы мы могли преобразовать данные к типу ***`float`*** нужны точки.

In [137]:
df[['total area(м²)', 'living area(м²)', 'kitchen area(м²)', 'ceiling height(м)']] = df[['total area(м²)', 'living area(м²)', 'kitchen area(м²)', 'ceiling height(м)']].apply(lambda x: x.str.replace(',', '.')).astype(float)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1485 non-null   int64
 1   number of rooms     1485 non-null   int64
 2   price(rub)          1485 non-null   int64
 3   metro               1485 non-null   object
 4   time(min)           1485 non-null   int64
 5   total area(м²)      1485 non-null   float64
 6   year of completion  1471 non-null   object
 7   living area(м²)     1041 non-null   float64
 8   kitchen area(м²)    1017 non-null   float64
 9   ceiling height(м)   1242 non-null   float64
 10  type of house       901 non-null    object
 11  WC                  839 non-null    object
 12  apartment floor     1485 non-null   int64
 13  total floors        1485 non-null   int64
 14  readiness           1362 non-null   object
 15  num of elevators    818 non-null    object
 16  type of elevators   818 non-null    object
dtypes: float64(4), int64(6), object(7)
memory usage: 197.4+ KB

In [139]:
cols = ['living area(м²)', 'kitchen area(м²)', 'ceiling height(м)']
df[cols] = df[cols].fillna(df[cols].mean()).round(1)

Проверим что получилось

In [140]:
df

,id,number of rooms,price(rub),metro,time(min),total area(м²),year of completion,living area(м²),kitchen area(м²),ceiling height(м),type of house,WC,apartment floor,total floors,readiness,num of elevators,type of elevators
0,283969757,1,16042265,Савёловская,13,32.20,2025,36.2,18.1,3.0,Монолитный,NaN,4,22,Без отделки,1,пассажирский
1,284037342,1,16297308,Технопарк,17,43.50,2024,36.2,18.1,3.1,Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
2,266826884,1,17086799,Дмитровская,8,32.10,2025,11.2,13.4,3.0,NaN,1,11,36,Чистовая,3,пассажирских
3,284807290,1,18669730,Преображенская площадь,5,46.59,2024,36.2,18.1,3.1,Монолитно-кирпичный,NaN,2,17,Без отделки,NaN,NaN
4,264958724,1,19015154,Марьина роща,8,43.45,2024,36.2,18.1,3.0,NaN,NaN,38,55,Предчистовая,4,пассажирских
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,284759598,2,10000000,Солнцево,10,54.20,2023,28.2,16.2,3.1,NaN,1,7,24,Без отделки,1,пассажирский
1481,284593318,2,11000000,Ольховая,20,52.50,2022,25.4,11.7,2.7,NaN,NaN,7,15,Чистовая,1,пассажирский
1482,283555890,1,7591477,Саларьево,19,32.17,2024,10.8,9.7,2.8,NaN,1,4,18,Без отделки,1,пассажирский
1483,284961268,1,9220000,Ольховая,9,40.50,2022,18.9,18.1,2.8,Панельный,NaN,8,14,Чистовая,NaN,NaN
1484,282123955,1,9299950,Ольховая,9,40.60,2022,19.0,18.1,2.8,Панельный,NaN,15,15,NaN,NaN,NaN

Перейдем к обработке столбцов, Nan значения которых лучше всего ***`заполнить наиболее часто встречающимся`*** объектом. Наблюдения представляют собой категориальные переменные, но также некоторые непрерывные, так как будет нецелесообразно заполнять их средним. Изменяем их тип на уместный для анализа.

****Год сдачи****

In [141]:
df['year of completion'].value_counts()

2024    414
2023    410
2025    300
2022    154
2021     77
2019     35
2026     29
2020     20
2017     10
2015      9
2016      5
2011      5
2005      2
2014      1
Name: year of completion, dtype: int64

In [142]:
df['year of completion'] = df['year of completion'].fillna(2024)
df['year of completion'] = df['year of completion'].astype(int)

****Тип дома****

In [143]:
df['type of house'].value_counts()

Монолитный             692
Монолитно-кирпичный    148
Панельный               57
Кирпичный                4
Name: type of house, dtype: int64

In [144]:
df['type of house'] = df['type of house'].fillna('Монолитный')

****Отделка квартиры****

In [145]:
df['readiness'].value_counts()

Без отделки           594
Чистовая              432
Предчистовая          201
Черновая               80
Чистовая с мебелью     33
С отделкой             22
Name: readiness, dtype: int64

In [146]:
df['readiness'] = df['readiness'].fillna('Без отделки')

****Туалет****

In [147]:
df['WC'].value_counts()

1    468
2    281
3     72
4     18
Name: WC, dtype: int64

In [148]:
def replace_wc(row):
    if np.isnan(row['WC']):
        area = float(row['total area(м²)'])
        if area < 70:
            return 1
        elif area < 150:
            return 2
        elif area < 300:
            return 3
        else:
            return 4
    else:
        return row['WC']

df['WC'] = pd.to_numeric(df['WC'], errors='coerce')
df['total area(м²)'] = pd.to_numeric(df['total area(м²)'], errors='coerce')
df['WC'] = df.apply(lambda row: replace_wc(row), axis=1)

In [149]:
df['WC'] = df['WC'].astype(int)

In [150]:
df

,id,number of rooms,price(rub),metro,time(min),total area(м²),year of completion,living area(м²),kitchen area(м²),ceiling height(м),type of house,WC,apartment floor,total floors,readiness,num of elevators,type of elevators
0,283969757,1,16042265,Савёловская,13,32.20,2025,36.2,18.1,3.0,Монолитный,1,4,22,Без отделки,1,пассажирский
1,284037342,1,16297308,Технопарк,17,43.50,2024,36.2,18.1,3.1,Монолитно-кирпичный,1,2,17,Без отделки,NaN,NaN
2,266826884,1,17086799,Дмитровская,8,32.10,2025,11.2,13.4,3.0,Монолитный,1,11,36,Чистовая,3,пассажирских
3,284807290,1,18669730,Преображенская площадь,5,46.59,2024,36.2,18.1,3.1,Монолитно-кирпичный,1,2,17,Без отделки,NaN,NaN
4,264958724,1,19015154,Марьина роща,8,43.45,2024,36.2,18.1,3.0,Монолитный,1,38,55,Предчистовая,4,пассажирских
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,284759598,2,10000000,Солнцево,10,54.20,2023,28.2,16.2,3.1,Монолитный,1,7,24,Без отделки,1,пассажирский
1481,284593318,2,11000000,Ольховая,20,52.50,2022,25.4,11.7,2.7,Монолитный,1,7,15,Чистовая,1,пассажирский
1482,283555890,1,7591477,Саларьево,19,32.17,2024,10.8,9.7,2.8,Монолитный,1,4,18,Без отделки,1,пассажирский
1483,284961268,1,9220000,Ольховая,9,40.50,2022,18.9,18.1,2.8,Панельный,1,8,14,Чистовая,NaN,NaN
1484,282123955,1,9299950,Ольховая,9,40.60,2022,19.0,18.1,2.8,Панельный,1,15,15,Без отделки,NaN,NaN

****Количество лифтов****

In [151]:
df['num of elevators'].value_counts()

1     321
2     240
4     169
3      60
7      11
6       7
15      5
5       5
Name: num of elevators, dtype: int64

In [152]:
df['num of elevators'] = df['num of elevators'].fillna('1')

In [153]:
df['num of elevators'] = df['num of elevators'].astype(int)

****Тип лифта****

In [154]:
df.loc[df['type of elevators'] == 'пассажирских', 'type of elevators'] = 'пассажирский'

In [155]:
df.loc[df['type of elevators'] == 'грузовых', 'type of elevators'] = 'грузовой'

In [156]:
df['type of elevators'].value_counts()

пассажирский    703
грузовой        115
Name: type of elevators, dtype: int64

In [157]:
df['type of elevators'] = df['type of elevators'].fillna('пассажирский')

Вроде все необходимые задачи мы выполнили, проверим итоговый DataFrame, а также все типы наблюдений и пропуски, содержащиеся в них.

In [158]:
df

,id,number of rooms,price(rub),metro,time(min),total area(м²),year of completion,living area(м²),kitchen area(м²),ceiling height(м),type of house,WC,apartment floor,total floors,readiness,num of elevators,type of elevators
0,283969757,1,16042265,Савёловская,13,32.20,2025,36.2,18.1,3.0,Монолитный,1,4,22,Без отделки,1,пассажирский
1,284037342,1,16297308,Технопарк,17,43.50,2024,36.2,18.1,3.1,Монолитно-кирпичный,1,2,17,Без отделки,1,пассажирский
2,266826884,1,17086799,Дмитровская,8,32.10,2025,11.2,13.4,3.0,Монолитный,1,11,36,Чистовая,3,пассажирский
3,284807290,1,18669730,Преображенская площадь,5,46.59,2024,36.2,18.1,3.1,Монолитно-кирпичный,1,2,17,Без отделки,1,пассажирский
4,264958724,1,19015154,Марьина роща,8,43.45,2024,36.2,18.1,3.0,Монолитный,1,38,55,Предчистовая,4,пассажирский
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,284759598,2,10000000,Солнцево,10,54.20,2023,28.2,16.2,3.1,Монолитный,1,7,24,Без отделки,1,пассажирский
1481,284593318,2,11000000,Ольховая,20,52.50,2022,25.4,11.7,2.7,Монолитный,1,7,15,Чистовая,1,пассажирский
1482,283555890,1,7591477,Саларьево,19,32.17,2024,10.8,9.7,2.8,Монолитный,1,4,18,Без отделки,1,пассажирский
1483,284961268,1,9220000,Ольховая,9,40.50,2022,18.9,18.1,2.8,Панельный,1,8,14,Чистовая,1,пассажирский
1484,282123955,1,9299950,Ольховая,9,40.60,2022,19.0,18.1,2.8,Панельный,1,15,15,Без отделки,1,пассажирский

In [159]:
df.isnull().sum()

id                    0
number of rooms       0
price(rub)            0
metro                 0
time(min)             0
total area(м²)        0
year of completion    0
living area(м²)       0
kitchen area(м²)      0
ceiling height(м)     0
type of house         0
WC                    0
apartment floor       0
total floors          0
readiness             0
num of elevators      0
type of elevators     0
dtype: int64

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1485 non-null   int64
 1   number of rooms     1485 non-null   int64
 2   price(rub)          1485 non-null   int64
 3   metro               1485 non-null   object
 4   time(min)           1485 non-null   int64
 5   total area(м²)      1485 non-null   float64
 6   year of completion  1485 non-null   int64
 7   living area(м²)     1485 non-null   float64
 8   kitchen area(м²)    1485 non-null   float64
 9   ceiling height(м)   1485 non-null   float64
 10  type of house       1485 non-null   object
 11  WC                  1485 non-null   int64
 12  apartment floor     1485 non-null   int64
 13  total floors        1485 non-null   int64
 14  readiness           1485 non-null   object
 15  num of elevators    1485 non-null   int64
 16  type of elevators   1485 non-null   object
dtypes: float64(4), int64(9), object(4)
memory usage: 197.4+ KB

In [161]:
df.to_csv('df_result.csv', index=False)